:root {
    --primary-color: #181818;
    --secondary-color: #FFFFFF;
    --terciary-color: #5CC5F6;
    --complementary-color: #757474;
    --font-family-title: 'Archivo Black', sans-serif;
    --font-family-product-description: 'Anton', sans-serif;
    --font-family-text: 'Bai Jamjuree', sans-serif;
    --font-size-title: 2.0rem;
    --font-size-product-description: 1.5rem;
    --font-size-text: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*Estilos generales*/
.icon-currency::before {
    content: '$';
    margin-right: 3px;
}

a {
    color: var(--secondary-color);
}

.inactive {
    display: none;
}

/*Header*/
.header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 10px;
    background-color: var(--primary-color);
}

.header__logo {
    position: absolute;
    left: calc(50% - 11px);
    height: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
}

.navBar__icon {
    display: inline-block;
    width: 20px;
    height: 15px;
}

.navBar__icon--menu {
    background-image: url("../assets/icons/icon-menu.svg");
    background-repeat: no-repeat;
}

.navBar__icon--searcher {
    background-image: url("../assets/icons/icon-searcher.svg");
    background-repeat: no-repeat;
}

.navBar__icon--login {
    background-image: url("../assets/icons/icon-login.svg");
    background-repeat: no-repeat;
}

.navBar__icon--shopping-cart {
    background-image: url("../assets/icons/icon-shopping-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Main*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
}

/*Card*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin: 25px 0;
}

#card2 {
    display: none;
}

.card__title {
    align-self: flex-start;
    margin-left: 20px;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
}

.card__data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__icon-arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.card__icon-arrow--left {
    background-image: url('./assets/icons/icon-arrow-left.svg');
    background-repeat: no-repeat;
}

.card__icon-arrow--right {
    background-image: url('./assets/icons/icon-arrow-right.svg');
    background-repeat: no-repeat;
}

.card__button {
    align-self: center;
    width: 160px;
    height: auto;
    padding: 10px 20px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

/*product*/
.product {
    position: relative;
    margin: 20px 0;
    width: 90%;
    min-width: 288px;
}

.product__title {
    position: absolute;
    top: 20px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--complementary-color);
}

.product__title--offer {
    left: calc(50% - 107px);
}

.product__title--featured {
    left: calc(50% - 46.5px);
}

.product__img {
    width: 100%;
    height: 372px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product__price {
    position: absolute;
    left: calc(50% - 25px);
    bottom: 25px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--complementary-color);
}

/*Cards - Genders*/
.product--genders {
    margin: 15px 10px;
}

.card--genders {
    max-width: 320px;
}

.card__button--genders {
    align-self: flex-start;
    margin-left: 10px;
    font-family: var(--font-family-title);
}

/*Fringe*/
.fringe {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 25px 0;
    text-align: center;
    background-color: var(--terciary-color);
}

.fringe__info {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    color: var(--primary-color);
}

/*Fringe brands*/
.fringe--brands {
    display: block;
    text-align: start;
}

.fringe__brands-container {
    width: 100%;
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
}

.fringe__info--brands {
    display: inline-block;
    margin: 20px;
}

.fringe__imgs-container {
    /*text-align: center;*/
    display: flex;
    justify-content: space-evenly;
}

.fringe__img {
    width: 75px;
    height: 75px;
    /*margin: 0 10px;*/
}

/*Farewell*/
.farewell {
    width: 100%;
    max-width: 1400px;
    margin: 25px 0;
    padding: 0 10px;
}

.farewell__text {
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
}

/*footer*/
.footer{
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.footer__title {
    margin-bottom: 24px;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
}

.footer__data {
    display: inline-block;
    margin-bottom: 10px;
    font-family: var(--font-family-text);
    font-size: var(--font-size-product-description);
}

.footer__open-link {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background-image: url('../assets/icons/icon-link-open.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__social-media-container {
    margin-top: 90px;
    margin-bottom: 8px;
}

.footer__icon-social-media {
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.footer__item-info {
    color: var(--complementary-color);
    margin-right: 10px;
}

.footer__icon-copyright {
    position: relative;
    bottom: -2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    background-image: url('../assets/icons/icon-copyright.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----- ----- ----- Carousel ----- ----- -----*/
.carousel {
    position: relative;
    display: none;
    align-items: center;
}

.carousel__arrow {
    position: absolute;
    top: calc(50% - 25%);
    z-index: 500;
    width: 50px;
    height: 50%;
    font-size: 4.0rem;
    line-height: 4.0rem;
    color: #fff;
    border: none;
    background-color: rgb(0, 0, 0, 0.3);
    transition: .2s ease all;
    cursor: pointer;
}

.carousel__arrow:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

.carousel__arrow--left {
    left: 0;
}

.carousel__arrow--right {
    right: 0;
}

/* ----- ----- ----- Main container of Carousel ----- ----- -----*/
.carousel__main-container {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel__item-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 15px;
}

.carousel__item {
    min-width: 18.7%;
    transition: .3s ease all;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3)
}

.carousel__item.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.carousel__img-item {
    width: 100%;
    vertical-align: top;
}

/* ----- ----- ----- Shopping cart ----- ----- -----*/
.shopping-cart {
    align-self: flex-end;
    width: 100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 25px 20px;
    background-color: var(--secondary-color);
}

.shopping-cart__title-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.shopping-cart__arrow-left {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/icon-arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shopping-cart__title {
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
}

.shopping-cart__item-container {
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.shopping-cart__item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.shopping-cart__item--one-container {
    width: 70%;
    display: flex;
    align-items: center;
}

.shopping-cart__item--two-container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: end;
}

.shopping-cart__img-item {
    width: 85px;
    height: 85px;
    border-radius: 20px;
    border: 1px solid var(--complementary-color);
}

.shopping-cart__name-item { 
    margin-left: 10px;
    margin-right: 30px;
    font-family: var(--font-family-product-description);
    font-size: 1.5rem;
    color: var(--complementary-color);
}

.shopping-cart__price-item {
    margin-right: 10px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
}

.shopping-cart__price-item::before {
    content: "$";
    margin-right: 2px;
}

.shopping-cart__item-icon-delete {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../assets/icons/icon-close.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.shopping-cart__total-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 13px;
    background: rgba(117, 116, 116, 0.12);
}

.shopping-cart__total {
    font-family: var(--font-family-title);
    font-size: var(--font-size-product-description);
}

.shopping-cart__total-price {
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
}

.shopping-cart__total-price::before {
    content: "$";
    margin-right: 2px;
}

.shopping-cart__button {
    width: 100%;
    padding: 15px 40px;
    margin-top: 25px;
    font-size: var(--font-size-title);
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--primary-color);
}