:root {
    --primary-color: #181818;
    --secondary-color: #FFFFFF;
    --terciary-color: #5CC5F6;
    --complementary-color: #757474;
    --font-family-title: 'Archivo Black', sans-serif;
    --font-family-product-description: 'Anton', sans-serif;
    --font-family-text: 'Bai Jamjuree', sans-serif;
    --font-size-title: 2.0rem;
    --font-size-product-description: 1.5rem;
    --font-size-text: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*Estilos generales*/
.icon-currency::before {
    content: '$';
    margin-right: 3px;
}

a {
    color: var(--secondary-color);
}

/*Header*/
.header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 10px;
    background-color: var(--primary-color);
}

.header__logo {
    position: absolute;
    left: calc(50% - 11px);
    height: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.navBar__icon {
    display: inline-block;
    width: 20px;
    height: 15px;
}

.navBar__icon--menu {
    background-image: url("./assets/icons/icon-menu.svg");
    background-repeat: no-repeat;
}

.navBar__icon--searcher {
    background-image: url("./assets/icons/icon-searcher.svg");
    background-repeat: no-repeat;
}

.navBar__icon--login {
    background-image: url("./assets/icons/icon-login.svg");
    background-repeat: no-repeat;
}

.navBar__icon--shopping-cart {
    background-image: url("./assets/icons/icon-shopping-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Main*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
}

/*Card*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    /*text-align: center;*/
}

.card__title {
    margin-left: 22px;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
}

.card__data-container {
    display: flex;
    align-items: center;
}

.card__icon-arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.card__icon-arrow--left {
    background-image: url('./assets/icons/icon-arrow-left.svg');
    background-repeat: no-repeat;
}

.card__icon-arrow--right {
    background-image: url('./assets/icons/icon-arrow-right.svg');
    background-repeat: no-repeat;
}

.card__button {
    align-self: center;
    width: 160px;
    height: auto;
    padding: 10px 20px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

/*product*/
.product {
    position: relative;
    margin: 20px 0;
}

.product__title {
    position: absolute;
    top: 20px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--complementary-color);
}

.product__title--offer {
    left: calc(50% - 107px);
}

.product__title--featured {
    left: calc(50% - 46.5px);
}

.product__img {
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product__price {
    position: absolute;
    left: calc(50% - 25px);
    bottom: 25px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--complementary-color);
}

/*Cards - Genders*/
.card__title--genders {
    margin-left: 10px;
}

.product--genders {
    margin: 15px 10px;
}

.card__button--genders {
    align-self: flex-start;
    margin-left: 10px;
    font-family: var(--font-family-title);
}

/*Fringe*/
.fringe {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 25px 0;
    text-align: center;
    background-color: var(--terciary-color);
}

.fringe__info {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    color: var(--primary-color);
}

/*Fringe brands*/
.fringe--brands {
    display: block;
    text-align: start;
}

.fringe__info--brands {
    display: inline-block;
    margin: 20px;
}

.fringe__imgs-container {
    /*text-align: center;*/
    display: flex;
    justify-content: space-evenly;
}

.fringe__img {
    width: 75px;
    height: 75px;
    /*margin: 0 10px;*/
}

/*Farewell*/
.farewell {
    margin: 25px 10px;
}

.farewell__text {
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
}

/*footer*/
.footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.footer__title {
    margin-bottom: 24px;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
}

.footer__data {
    display: inline-block;
    margin-bottom: 10px;
    font-family: var(--font-family-text);
    font-size: var(--font-size-product-description);
}

.footer__open-link {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background-image: url('./assets/icons/icon-link-open.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__social-media-container {
    margin-top: 90px;
    margin-bottom: 8px;
}

.footer__icon-social-media {
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.footer__item-info {
    color: var(--complementary-color);
    margin-right: 10px;
}

.footer__icon-copyright {
    position: relative;
    bottom: -2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    background-image: url('./assets/icons/icon-copyright.svg');
    background-repeat: no-repeat;
    background-size: cover;
}