:root {
    --primary-color: #181818;
    --secondary-color: #FFFFFF;
    --terciary-color: #5CC5F6;
    --complementary-color: #757474;
    --font-family-title: 'Archivo Black', sans-serif;
    --font-family-product-description: 'Anton', sans-serif;
    --font-family-text: 'Bai Jamjuree', sans-serif;
    --font-size-title: 2.0rem;
    --font-size-product-description: 1.5rem;
    --font-size-text: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*Header*/
.header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 10px;
    background-color: var(--primary-color);
}

.header__logo {
    position: absolute;
    left: calc(50% - 11px);
    height: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.navBar__icon {
    display: inline-block;
    width: 20px;
    height: 15px;
}

.navBar__icon--menu {
    background-image: url("./assets/icons/icon-menu.svg");
    background-repeat: no-repeat;
}

.navBar__icon--searcher {
    background-image: url("./assets/icons/icon-searcher.svg");
    background-repeat: no-repeat;
}

.navBar__icon--login {
    background-image: url("./assets/icons/icon-login.svg");
    background-repeat: no-repeat;
}

.navBar__icon--shopping-cart {
    background-image: url("./assets/icons/icon-shopping-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Main*/
.main {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
}

/*Card*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    /*text-align: center;*/
}

.card__title {
    margin-left: 22px;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
}

.card__data-container {
    display: flex;
    align-items: center;
}

.card__icon-arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.card__icon-arrow--left {
    background-image: url('./assets/icons/icon-arrow-left.svg');
    background-repeat: no-repeat;
}

.card__icon-arrow--right {
    background-image: url('./assets/icons/icon-arrow-right.svg');
    background-repeat: no-repeat;
}

.card__button {
    align-self: center;
    width: 160px;
    height: auto;
    padding: 10px 20px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

/*product*/
.product {
    position: relative;
    margin: 20px 0;
}

.product__title {
    position: absolute;
    left: calc(50% - 107px);
    top: 20px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--complementary-color);
}

.product__img {
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product__price {
    position: absolute;
    left: calc(50% - 25px);
    bottom: 25px;
    font-family: var(--font-family-product-description);
    font-size: var(--font-size-product-description);
    color: var(--complementary-color);
}

.product__price::before {
    content: '$';
    margin-right: 3px;
}

